In [1]:
import pandas as pd

import re

In [2]:
df = pd.read_excel('wordGrammar.xlsx')

In [3]:
df.head()

   전체 번호  등급별 번호  등급    어휘   품사      길잡이말 어휘교육내용개발(1-4단계) 등급.1
0      1       1  1급    가게   명사   가게에 가다               초급   1급
1      2       2  1급  가격02   명사  가격이 비싸다               초급   1급
2      3       3  1급  가구02   명사   가구를 놓다               초급   1급
3      4       4  1급   가깝다  형용사  거리가 가깝다               초급   1급
4      5       5  1급  가다01   동사   학교에 가다               초급   1급

In [4]:
df['품사'].value_counts()

품사
명사           6923
동사           1442
형용사           728
부사            577
관형사∙명사        243
접사            133
명사            100
의존명사           83
부사/명사          58
관형사            47
대명사            36
명사/부사          35
감탄사            34
수사/관형사         33
명사/의존명사        28
형용사            23
동사             15
줄어든말            9
부사              9
동사/형용사          8
수사·관형사          8
의존명사/명사         8
수사              7
접사              4
수사·관형사/명사       4
수사∙관형사/명사       4
관형사/대명사         4
형용사/동사          4
수사‧관형사/명사       3
대명사/명사          3
수사∙관형사          3
명사/대명사          3
명사/관형사          2
관형사·명사          2
 명사             1
명사/의존명사         1
대명사/부사          1
의존명사/대명사        1
부사/감탄사          1
관형사‧명사          1
부사/관형사·명사       1
대명사/관형사         1
수사.관형사/명사       1
관형사/수사          1
관형사/명사          1
감탄사・명사          1
Name: count, dtype: int64

In [5]:
df[df['품사'] == '수사.관형사/명사'].head()

,전체 번호,등급별 번호,등급,어휘,품사,길잡이말,어휘교육내용개발(1-4단계),등급.1
2781,2782,947,3급,아홉째02∙아홉째01/아홉째03,수사.관형사/명사,순서,중급,3급

In [6]:
df[df['품사'] == '수사/관형사'].head()

     전체 번호  등급별 번호  등급         어휘      품사 길잡이말 어휘교육내용개발(1-4단계) 등급.1
57      58      58  1급    구01/구02  수사/관형사   숫자              초급   1급
60      61      61  1급  구십01/구십02  수사/관형사   숫자              초급   1급
152    153     153  1급  다섯02/다섯01  수사/관형사   숫자              초급   1급
204    205     205  1급    만04/만03  수사/관형사   숫자              초급   1급
228    229     229  1급    몇01/몇02  수사/관형사  몇 개              초급   1급

In [7]:
def replace_symbols(data, smbl):
    return data.str.replace(smbl, '/', regex=False)

In [8]:
df['품사'] = replace_symbols(df['품사'], '∙')
df['어휘'] = replace_symbols(df['어휘'], '∙')

df['품사'] = replace_symbols(df['품사'], '.')
df['어휘'] = replace_symbols(df['어휘'], '.')

df['품사'] = replace_symbols(df['품사'], '・')
df['어휘'] = replace_symbols(df['어휘'], '・')

df['품사'] = replace_symbols(df['품사'], '‧')
df['어휘'] = replace_symbols(df['어휘'], '‧')

df['품사'] = replace_symbols(df['품사'], '·')
df['어휘'] = replace_symbols(df['어휘'], '·')

In [9]:
df['품사'].value_counts()

품사
명사           6923
동사           1442
형용사           728
부사            577
관형사/명사        247
접사            133
명사            100
의존명사           83
부사/명사          58
관형사            47
수사/관형사         44
대명사            36
명사/부사          35
감탄사            34
명사/의존명사        28
형용사            23
동사             15
수사/관형사/명사      12
부사              9
줄어든말            9
동사/형용사          8
의존명사/명사         8
수사              7
형용사/동사          4
관형사/대명사         4
접사              4
대명사/명사          3
명사/대명사          3
명사/관형사          2
부사/감탄사          1
 명사             1
의존명사/대명사        1
부사/관형사/명사       1
대명사/관형사         1
관형사/수사          1
명사/의존명사         1
대명사/부사          1
감탄사/명사          1
Name: count, dtype: int64

In [10]:
df['품사'].size

10635

In [11]:
triple_word = df[(df['품사'] == '부사/관형사/명사') | (df['품사'] == '수사/관형사/명사')]

triple_word['품사'].size

13

In [12]:
triple_word_words = triple_word['어휘'].str.split('/', expand=True)
triple_word_values = triple_word['품사'].str.split('/', expand=True)

triple_word_words = triple_word_words.fillna('스무째00')

triple_word_words_combined = pd.concat([triple_word_words[col] for col in triple_word_words.columns], ignore_index=True)
triple_word_values_combined = pd.concat([triple_word_values[col] for col in triple_word_values.columns], ignore_index=True)


result_df_triple_word = pd.DataFrame({
    '등급': pd.concat([triple_word['등급']] * len(triple_word_words.columns), ignore_index=True),
    '어휘': triple_word_words_combined,
    '품사': triple_word_values_combined
})

combined_df = pd.concat([df, result_df_triple_word], ignore_index=True)


df = combined_df[~combined_df['품사'].isin(['부사/관형사/명사', '수사/관형사/명사'])]

In [13]:
result_df_triple_word['품사'].size

39

In [14]:
df['품사'].value_counts()

품사
명사          6936
동사          1442
형용사          728
부사           578
관형사/명사       247
접사           133
명사           100
의존명사          83
관형사           60
부사/명사         58
수사/관형사        44
대명사           36
명사/부사         35
감탄사           34
명사/의존명사       28
형용사           23
수사            19
동사            15
부사             9
줄어든말           9
의존명사/명사        8
동사/형용사         8
형용사/동사         4
접사             4
관형사/대명사        4
명사/대명사         3
대명사/명사         3
명사/관형사         2
대명사/부사         1
관형사/수사         1
대명사/관형사        1
의존명사/대명사       1
부사/감탄사         1
 명사            1
명사/의존명사        1
감탄사/명사         1
Name: count, dtype: int64

In [15]:
df['품사'].size

10661

In [16]:
values_with_slash  = df[df['품사'].str.contains('/')]

In [17]:
values_with_slash['품사'].value_counts()

품사
관형사/명사      247
부사/명사        58
수사/관형사       44
명사/부사        35
명사/의존명사      28
동사/형용사        8
의존명사/명사       8
형용사/동사        4
관형사/대명사       4
대명사/명사        3
명사/대명사        3
명사/관형사        2
대명사/부사        1
관형사/수사        1
대명사/관형사       1
의존명사/대명사      1
부사/감탄사        1
명사/의존명사       1
감탄사/명사        1
Name: count, dtype: int64

In [18]:
values_with_slash['품사'].size

451

In [19]:
values_with_slash_words = values_with_slash['어휘'].str.split('/', expand=True)
values_with_slash_values = values_with_slash['품사'].str.split('/', expand=True)

words_combined = pd.concat([values_with_slash_words[col] for col in values_with_slash_words.columns], ignore_index=True)
values_combined = pd.concat([values_with_slash_values[col] for col in values_with_slash_values.columns], ignore_index=True)


result_df_values_with_slash = pd.DataFrame({
    '등급': pd.concat([values_with_slash['등급']] * len(values_with_slash_words.columns), ignore_index=True),
    '어휘': words_combined,
    '품사': values_combined
})

df = pd.concat([df, result_df_values_with_slash], ignore_index=True)

In [20]:
result_df_values_with_slash['품사'].value_counts()

품사
명사       386
관형사      299
부사        95
수사        45
의존명사      37
대명사       13
형용사       12
동사        12
감탄사        2
의존명사       1
Name: count, dtype: int64

In [21]:
result_df_values_with_slash['품사'].size

902

In [22]:
df = df[~df['품사'].str.contains('/')]

In [23]:
df['품사'].value_counts()

품사
명사       7322
동사       1454
형용사       740
부사        673
관형사       359
접사        133
의존명사      120
명사        100
수사         64
대명사        49
감탄사        36
형용사        23
동사         15
줄어든말        9
부사          9
접사          4
 명사         1
의존명사        1
Name: count, dtype: int64

In [24]:
df['품사'].size

11112

In [25]:
df

       전체 번호  등급별 번호  등급     어휘   품사      길잡이말 어휘교육내용개발(1-4단계) 등급.1
0        1.0     1.0  1급     가게   명사   가게에 가다               초급   1급
1        2.0     2.0  1급   가격02   명사  가격이 비싸다               초급   1급
2        3.0     3.0  1급   가구02   명사   가구를 놓다               초급   1급
3        4.0     4.0  1급    가깝다  형용사  거리가 가깝다               초급   1급
4        5.0     5.0  1급   가다01   동사   학교에 가다               초급   1급
...      ...     ...  ..    ...  ...       ...             ...  ...
11558    NaN     NaN  6급  헌신적02   명사       NaN             NaN  NaN
11559    NaN     NaN  6급  혁신적02   명사       NaN             NaN  NaN
11560    NaN     NaN  6급  호의적02   명사       NaN             NaN  NaN
11561    NaN     NaN  6급  회의적02   명사       NaN             NaN  NaN
11562    NaN     NaN  6급  획기적00   명사       NaN             NaN  NaN

[11112 rows x 8 columns]

In [26]:
columns_to_drop = ['전체 번호', '등급별 번호', '어휘교육내용개발(1-4단계)', '등급.1', '길잡이말']
df = df.drop(columns=columns_to_drop)

rename_dict = {
    '등급': 'level',
    '어휘': 'word',
    '품사': 'part',
}

df = df.rename(columns=rename_dict)

In [27]:
df

      level   word part
0        1급     가게   명사
1        1급   가격02   명사
2        1급   가구02   명사
3        1급    가깝다  형용사
4        1급   가다01   동사
...     ...    ...  ...
11558    6급  헌신적02   명사
11559    6급  혁신적02   명사
11560    6급  호의적02   명사
11561    6급  회의적02   명사
11562    6급  획기적00   명사

[11112 rows x 3 columns]

In [29]:
df['part'].value_counts()

part
명사       7322
동사       1454
형용사       740
부사        673
관형사       359
접사        133
의존명사      120
명사        100
수사         64
대명사        49
감탄사        36
형용사        23
동사         15
줄어든말        9
부사          9
접사          4
 명사         1
의존명사        1
Name: count, dtype: int64

In [30]:
df.to_excel('wordUpd.xlsx', index=True)

In [31]:
df_new = pd.read_excel('wordUpd.xlsx')

In [32]:
df_new['part'].value_counts()

part
명사       7322
동사       1454
형용사       740
부사        673
관형사       359
접사        133
의존명사      120
명사        100
수사         64
대명사        49
감탄사        36
형용사        23
동사         15
줄어든말        9
부사          9
접사          4
 명사         1
의존명사        1
Name: count, dtype: int64